@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Smooth Selection Color */
::selection {
  background: #a855f7;
  color: white;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}